.btn {
    position: relative;
    width: 1200px;
    background: #550000;
    padding: 10px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 70px;
    display: inline-block;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 5px;
    transition: .35s;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 24px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }
  
  .btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 10px rgba(255,255,255,.3),
                0 0 20px 30px rgba(255,255,255,.2),
                0 0 30px 30px rgba(255,255,255,.1);
    transition-delay: 1s;
    color: #440000;
    background: yellowgreen;
  }
  
  .btn span {
    position: absolute;
    display: block;
  }
  
  .btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, blue);
  }
  
  .btn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  
  .btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, blue);
  }
  
  .btn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: .5s;
  }
  
  .btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, blue);
  }
  
  .btn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: .25s;
  }
  
  .btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(0deg, transparent, blue);
  }
  
  .btn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
  }
  
  .cd {
    margin: 50px;
    bottom: 0;
    text-align: center;
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    color: #aa0000;
  }
  
  .btn:active {
    transition-delay: unset;
    transition-duration: .25;
    transform: scale(.95);
  }

h3 {
    color: whitesmoke;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 40px;
}

body {
  background: url(img/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.container {
    background: transparent;
    width: 100%;
}

p {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
}

.section-dark {
    background-color: black;
    color:#ddd;
    text-align: center;
    height: 700px;
  }

h2 {
  font-family: 'Amatic SC', cursive;
  color: whitesmoke;
  text-align: center;
}

.parallax-window {
    height: 800px;
    background: transparent;
}

.container1 {
  background: transparent;
  width: 100%;
  text-align: center;
}

.parallax-window1 {
  height: 345px;
  background: transparent;
}

.section-dark1 {
  background-color: black;
  color:#ddd;
  text-align: center;
  height: 825px;
}

.parallax-window2 {
  height: 500px;
  background: transparent;
}